<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
	    <add id="Magestore_Student::student" title="Student" module="Magestore_Student" sortOrder="50" resource="Magestore_Student::student"/>
	    <add id="Magestore_Student::managestudent" title="Manage Students" module="Magestore_Student" sortOrder="1" parent="Magestore_Student::student" action="magestorestudy/student/" resource="Magestore_Student::managestudent"/>
    </menu>
</config>